@use "./base/reset.scss";

.body {
    background-color: black;
    &_main {
        overflow: hidden;
        width: 80vw;
        height: 80vh;
        margin: 50px auto;
        padding-top: 0px;
        border-radius: 10px;
        background-color:lightgray;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        cursor: pointer;
        > div:first-child {
            margin-right: 20px;
        }
        &_keys {
            width: 50px;
            height: 50%;
            border: 1px solid black;
            margin-left: 20px;
            transition: height 4s;
            &_inner {
                margin: 0 auto;
                width: 40%;
                height: 80%;
                background-color: black;
            }
            &_grow {
                //transition: height 4s;
                height: 80%;
            }
        }
        &_playbutton {
            margin: 20px;
            padding: 10px 20px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: rgb(61, 55, 55);
            color: whitesmoke;
            font-weight: 400px;
            font-size: 20px;
            position:absolute;
            right:20px;
            bottom: 20px;
            &:hover {
                color: orangered;
            }
        }
        &_disabled {
            cursor: not-allowed;
        }
    }
}